body{
    background-image: url('photo\ 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.8;
    background-position: center;
}
.aboutuspara{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width: 50%;
    background-color: gray;
    border-radius: 10%;
    box-shadow: 0px 6px 7px gray;
    flex-direction: column;
}