body{
    margin: 0px;
}
#heading-div{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 20px 40px;
    border-radius: 50px;
    width: fit-content;
    
    
}
#heading{
    font-family: sans-serif;
    color: rgb(238, 232, 232);
    font-weight: 900;
    text-shadow: 0px 4px 10px blue;
}
#total{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
#logo{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    box-shadow: 10px 10px 20px cyan;
}
body{
    background-color: black;
}
#frontpagephotos{
    width: 300px;
    height:300px;
    border-radius: 50%;
    padding: 20px;
}
#photo-bunk{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
#membersclick{
    font-size: 25px;
    padding: 20px;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    border-radius: 30%;
    text-shadow: 10px 5px 5px blue;
}
.navbar{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    background-color: grey;
    margin-top: 0px;
    box-shadow: 0px 5px 5px gray;
}
.menu{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color:white;
    margin: 10px;
    border-radius: 40%;
    box-shadow: 2px 2px 2px 2px cyan;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}
.navoption{
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    height: 100%;
    transition: color 0.3 ease;
}
.menu:hover {
    background-color: black;
    box-shadow: 0px 2px 3px cyan;
    transform: scale(1.5);
}

.menu:hover .navoption {
    color: aliceblue;
}
.left-item{
  margin-right: auto;  
  font-weight: bold;
  font-size: 20px;
  color: aliceblue;
  padding: 10px;
  text-shadow: 0px 2px 3px cyan;
  white-space: nowrap;
}